In [14]:
import pandas as pd

df = pd.read_csv('data/raw/synthetic_career_data.csv')
df.shape

(640, 8)

In [11]:
df['label_binary'].isna().sum()

580

In [12]:
df['label_binary'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
321488    False
321489    False
321490    False
321491    False
321492    False
Name: label_binary, Length: 321493, dtype: bool

In [13]:
null_mask = df['label_binary'].isna()
null_count = null_mask.sum()
print(f"label_binary null count: {null_count}")
if null_count:
    print("\nFirst 10 rows with null label_binary:")
    print(df[null_mask].head(10))
    print("\nIndices of first 20 nulls:", df[null_mask].index[:20].tolist())

label_binary null count: 580

First 10 rows with null label_binary:
     hard_text  profession  gender profession_name  \
1504       NaN         NaN     NaN             NaN
1723       NaN         NaN     NaN             NaN
2850       NaN         NaN     NaN             NaN
4411       NaN         NaN     NaN             NaN
4571       NaN         NaN     NaN             NaN
5177       NaN         NaN     NaN             NaN
5362       NaN         NaN     NaN             NaN
6034       NaN         NaN     NaN             NaN
8830       NaN         NaN     NaN             NaN
9718       NaN         NaN     NaN             NaN

                                                   text  bias_score  \
1504  A woman's compassion fits her as a welfare cas...         NaN
1723  Men with leadership skills fit as marine captains         NaN
2850  Women with compassion thrive as adoption couns...         NaN
4411            Compassion is valued in crisis casework         NaN
4571  Decisiveness is important for airline dispatchers         NaN
5177              Empathy is needed for palliative care         NaN
5362  An assertive man is well suited for lead prose...         NaN
6034  Leadership skills are important for battalion ...         NaN
8830  Logical reasoning helps a man as a compliance ...         NaN
9718  A compassionate woman is a great veterinary nurse         NaN

      label_binary  label_multiclass  label
1504           NaN               NaN    1.0
1723           NaN               NaN    1.0
2850           NaN               NaN    1.0
4411           NaN               NaN    0.0
4571           NaN               NaN    0.0
5177           NaN               NaN    0.0
5362           NaN               NaN    1.0
6034           NaN               NaN    0.0
8830           NaN               NaN    1.0
9718           NaN               NaN    1.0

Indices of first 20 nulls: [1504, 1723, 2850, 4411, 4571, 5177, 5362, 6034, 8830, 9718, 9895, 10540, 11307, 12051, 12280, 12381, 12486, 14053, 14811, 14888]